* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teste-title {
    color: chartreuse;
    font-weight: 700;
    margin-top: 30px;
    font-size: 5rem;
    font-style: italic;
}