*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #006BFF;
    cursor: pointer;
    transition: all .8s;
}

.logo:hover{
    font-size: 5rem;
    color: #ffff;
    background-color: #006BFF;
    box-shadow: inset 0px 0px 5px #ffff;
}