*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #006BFF;
}

.logo:hover{
    font-size: 5rem;
    transition: .3s;
    color: #ffff;
    background-color: #006BFF;
}