.name {
    color: wheat;
    padding-left: 600px;
    padding-right: 680px;
    align-items: center;
    max-width: 620px;
    background-color: black;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}